In [1]:
from websocket import create_connection
from TradingviewData import TredingViewData,Interval
request = TredingViewData()

In [2]:
df1 = request.get_hist(symbol='RELIANCE',exchange='NSE',interval=Interval.min_15,n_bars=2000)
df1.columns

Index(['symbol', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [3]:
df1.iloc[-1:,4:5]

                      close
datetime
2023-03-03 15:15:00  2383.1

In [4]:
corr_matrix = df1.corr()

In [5]:
corr_matrix['close'].sort_values(ascending = False)

close     1.000000
low       0.999586
high      0.999573
open      0.999098
volume   -0.158234
Name: close, dtype: float64

In [21]:
import pandas as pd
df = pd.read_csv('ITC.csv')
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Average of next day price,close-open,open price of next day
0,ITC,EQ,3-Mar-22,215.30,216.05,220.20,216.00,219.35,219.40,218.52,28532668,6235043683,122600,18281302,64.07,222.66,7.80,217.7
1,ITC,EQ,4-Mar-22,219.40,217.70,227.40,217.00,225.00,225.50,222.66,66835736,14881564312,284871,40825247,61.08,223.87,2.95,222.0
2,ITC,EQ,7-Mar-22,225.50,222.00,227.00,220.10,225.95,224.95,223.87,45258669,10131981893,226272,26504909,58.56,226.27,3.00,223.9
3,ITC,EQ,8-Mar-22,224.95,223.90,228.45,223.75,226.80,226.90,226.27,36036336,8154008012,198973,23514703,65.25,228.80,1.55,227.7
4,ITC,EQ,9-Mar-22,226.90,227.70,231.40,226.10,229.00,229.25,228.80,42294906,9677136455,168447,29264232,69.19,230.14,1.00,231.0

In [22]:
corr_matrix = df.corr()

In [24]:
corr_matrix['open price of next day'].sort_values(ascending = False)

open price of next day       1.000000
Close Price                  0.999298
Last Price                   0.999297
Average Price                0.998792
High Price                   0.998270
Average of next day price    0.997412
Low Price                    0.996518
Open Price                   0.995253
Prev Close                   0.995026
% Dly Qt to Traded Qty       0.194903
No. of Trades               -0.036758
Turnover                    -0.145461
close-open                  -0.145708
Total Traded Quantity       -0.389504
Deliverable Qty             -0.398821
Name: open price of next day, dtype: float64