In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.linear_model import LinearRegression

In [2]:
from websocket import create_connection
from TradingviewData import TredingViewData,Interval
request = TredingViewData()

In [3]:
import talib
from pandas.io.excel import ExcelWriter

In [ ]:
for sheet_name in stock_symbols:
    # Read the Excel sheet into a DataFrame
        df1 = pd.read_excel('nse_stocks_data.xlsx', sheet_name=sheet_name)

    # Process the DataFrame or perform operations
    # For example, print the values of the first column
#         print(f"Values from {sheet_name}:")
#         print(df1.iloc[-1,8]) # Change the column index (0) as needed


        # Process the DataFrame or perform operations
    # For example, print the value from the specified row and column
        row_index = -1  # Replace with the desired row index
        column_index = 8  # Replace with the desired column index

        try:
            value = df.iloc[row_index, column_index]
            print(f"Value from {sheet_name}: {value}")
        except IndexError:
            print(f"Sheet: {sheet_name}, Row index {row_index} or column index {column_index} out of range.")

In [113]:
stock_symbols = ['ITC', 'TATASTEEL', 'HDFCBANK', 'INFY']
writer = pd.ExcelWriter('nse_stocks_data.xlsx', engine='xlsxwriter')
df = pd.DataFrame(data)

        # Write the data into a new sheet in the Excel file
df.to_excel(writer, sheet_name=stock_symbols)
        
print(f"Fetched {stock_symbols} data")
        
            

# Save and close the Excel writer
writer.save()
writer.close()

In [116]:
df

,symbol,open,high,low,close,volume,rsi,ema,macd,signal,sma,adx,bb_upper,bb_middle,bb_lower,obv,avgprice
datetime,,,,,,,,,,,,,,,,,
2023-01-19 10:00:00,NSE:INFY,1529.90,1531.20,1527.05,1528.00,112603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112603.0,1529.0375
2023-01-19 10:05:00,NSE:INFY,1528.00,1529.55,1526.15,1526.35,197860.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-85257.0,1527.5125
2023-01-19 10:10:00,NSE:INFY,1526.20,1530.60,1526.20,1530.20,38736.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-46521.0,1528.3000
2023-01-19 10:15:00,NSE:INFY,1529.80,1531.00,1529.50,1530.65,26241.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20280.0,1530.2375
2023-01-19 10:20:00,NSE:INFY,1530.65,1532.00,1529.50,1530.95,25818.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5538.0,1530.7750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 13:45:00,NSE:INFY,1278.20,1279.00,1278.00,1278.60,62535.0,65.141721,1276.061757,1.703741,1.573132,1275.210,24.010583,1280.911807,1275.210,1269.508193,-7931797.0,1278.4500
2023-05-02 13:50:00,NSE:INFY,1278.55,1279.00,1278.55,1278.90,66746.0,66.054742,1276.332066,1.725130,1.603532,1275.480,24.239867,1281.341519,1275.480,1269.618481,-7865051.0,1278.7500
2023-05-02 13:55:00,NSE:INFY,1278.85,1278.95,1277.15,1278.10,57670.0,61.433752,1276.500441,1.658410,1.614508,1275.770,23.286168,1281.546798,1275.770,1269.993202,-7922721.0,1278.2625
2023-05-02 14:00:00,NSE:INFY,1278.10,1278.90,1277.60,1277.65,62612.0,58.936168,1276.609923,1.551340,1.601874,1276.125,22.400591,1281.428254,1276.125,1270.821746,-7985333.0,1278.0625
2023-05-02 14:05:00,NSE:INFY,1277.75,1277.75,1276.10,1276.50,32321.0,53.005495,1276.599454,1.358037,1.553107,1276.420,21.112521,1281.078261,1276.420,1271.761739,-8017654.0,1277.0250

stocks=[
'AARTIIND',
'ABB',
'ABCAPITAL',
'ABFRL',
'ACC',
'ADANIGREEN',
'ADANIPORTS',
'ADANIPOWER',
'ADVENZYMES',
'AEGISCHEM',
'AIAENGINEER',
'AJANTPHARM',
'ALKEM',
'ALLCARGO',
'AMARAJABAT',
'AMBUJACEM',
'APLLTD',
'APOLLOHOSP',
'APOLLOTYRE',
'ARVIND',
'ASAHIINDIA',
'ASHOKLEY',
'ASIANPAINT',
'ASTERDM',
'ASTRAL',
'ASTRAZEN',
'ASTRON',
'ATUL',
'AUBANK',
'AUROPHARMA',
'AVANTIFEED',
'AXISBANK',
'BAJAJ-AUTO',
'BAJAJFINSV',
'BAJFINANCE',
'BALKRISIND',
'BALMLAWRIE',
'BALRAMCHIN',
'BANDHANBNK',
'BANKBARODA', 'BAXTERLTD',
'BBL', 'BEL',
'BEPL', 'BGRENERGY',
'BHARATFIN', 'BHARATFORG',
'BHARTIARTL', 'BHEL',
'BIOCON', 'BIRLACORPN',
'BLOOM', 'BLUEDART',
'BLUESTINFO', 'BOI',
'BOSCHLTD', 'BPCL',
'BRITANNIA', 'CADILAHC',
'CANFINHOME', 'CANBK',
'CAPF', 'CASTROLIND',
'CCL', 'CESC',
'CGCL', 'CGPOWER',
'CHAMBLFERT', 'CHENNPETRO',
'CHOLAFIN', 'CIPLA',
'COALINDIA', 'COLPAL',
'CONCOR', 'COROMANDEL',
'CROMPTON', 'CUB',
'CUBEXTUB', 'CUMI',
'CUMMINSIND', 'CYIENT',
]

In [119]:
import pandas as pd

stocks=[
'AARTIIND',
'ABB',
'ABCAPITAL',
'ABFRL',
'ACC',
'ADANIGREEN',
'ADANIPORTS',
'ADANIPOWER',
'ADVENZYMES',
'AEGISCHEM',
'AIAENGINEER',
'AJANTPHARM',
'ALKEM',
'ALLCARGO']

# Create a Pandas Excel writer to save the data into an Excel file
writer = pd.ExcelWriter('nse_stocks_data.xlsx', engine='xlsxwriter')

# Loop through all stocks and fetch their data
for stock in stocks:
    try:
        # Fetch the historical data for the stock
        data = request.get_hist(symbol=stock, exchange='NSE', interval=Interval.min_5, n_bars=2000)
        
        
        
#         data = request.get_hist(symbol=symbole,exchange='NSE',interval=Interval.min_5,n_bars=5000)
        # calculate indicators from ta-lib
        rsi = talib.RSI(data["close"], timeperiod=14)
        ema = talib.EMA(data['close'], timeperiod=20)
        macd, signal, hist = talib.MACD(data['close'], fastperiod=12, slowperiod=26, signalperiod=9)
        sma = talib.SMA(data['close'], timeperiod=20)
        adx = talib.ADX(data['high'], data['low'], data['close'], timeperiod=14)
        bb_upper, bb_middle, bb_lower = talib.BBANDS(data['close'], timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)
        obv = talib.OBV(data['close'], data['volume'])
        avgprice = talib.AVGPRICE(data['open'], data['high'], data['low'], data['close'])
    
        data['rsi'] = rsi        
        data['ema'] = ema
        data['macd'] = macd
        data['signal'] = signal
        data['sma'] = sma
        data['adx'] = adx
        data['bb_upper'] = bb_upper
        data['bb_middle'] = bb_middle
        data['bb_lower'] = bb_lower
        data['obv'] = obv
        data['avgprice'] = avgprice
        
        
        
        
        
        
        
        # Convert the data into a Pandas DataFrame
        df = pd.DataFrame(data)

        # Write the data into a new sheet in the Excel file
        df.to_excel(writer, sheet_name=stock)
        
        print(f"Fetched {stock} data")
    except:
        pass

# Save and close the Excel writer
writer.save()
writer.close()

Fetched AARTIIND data
Fetched ABB data
Fetched ABCAPITAL data
Fetched ABFRL data
Fetched ACC data
Fetched ADANIGREEN data
Fetched ADANIPORTS data
Fetched ADANIPOWER data
Fetched ADVENZYMES data
Fetched AEGISCHEM data

ERROR:TradingviewData.main:The read operation timed out
ERROR:TradingviewData.main:no data, please check the exchange and symbol

Fetched AJANTPHARM data
Fetched ALKEM data
Fetched ALLCARGO data

C:\Users\meetz\AppData\Local\Temp\ipykernel_4996\1546409099.py:70: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()
C:\Users\meetz\anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [6]:
data = request.get_hist(symbol='HDFC',exchange='NSE',interval=Interval.min_15,n_bars=1000)

In [7]:
data

                       symbol     open     high      low    close    volume
datetime
2023-03-28 09:15:00  NSE:HDFC  2569.95  2577.40  2565.25  2573.95  210423.0
2023-03-28 09:30:00  NSE:HDFC  2573.95  2578.90  2572.00  2573.65   67338.0
2023-03-28 09:45:00  NSE:HDFC  2573.55  2579.15  2573.05  2577.00   66811.0
2023-03-28 10:00:00  NSE:HDFC  2577.30  2577.65  2574.00  2577.20   37630.0
2023-03-28 10:15:00  NSE:HDFC  2577.15  2578.00  2571.90  2571.90   29411.0
...                       ...      ...      ...      ...      ...       ...
2023-05-29 14:15:00  NSE:HDFC  2691.75  2693.65  2685.10  2687.00  110441.0
2023-05-29 14:30:00  NSE:HDFC  2687.00  2689.50  2683.30  2684.35   93792.0
2023-05-29 14:45:00  NSE:HDFC  2684.50  2687.40  2681.05  2686.00   92986.0
2023-05-29 15:00:00  NSE:HDFC  2686.00  2692.80  2686.00  2691.95   97770.0
2023-05-29 15:15:00  NSE:HDFC  2692.00  2692.90  2687.10  2690.00   98439.0

[1000 rows x 6 columns]